body{
    background-color: #8ad64c;
}
h1{
    text-align: center;
}
.card{
    margin:10px;
    padding:4%;
    text-align: center;
    background-color: #2b5d01;
}
.plus{
    font-size: 120%;
}
.jumbotron{
    margin:1%;
    background: #a2c882;
}
.img-right{
    text-align: center;
}
img{
    border-radius: 10px;
}
.welcome{
    margin: 2%;
}
h3{
   text-decoration: underline;
}